/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust:100%}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: inherit;}
/*-----------*/
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
}

h2 > span {
    position: relative;
}

h2 > span::after{
    content: "";
    height: 2px;
    background: #444444;
    width: 40%;
    margin-left: -20%;
    left: 50%;
    top:120%;
    position: absolute;
}

h3 {
    font-size: 24px;
    font-weight: 600;
}

.services, .works, .team, .blog, .contact, footer {
    padding: 60px 0;
}

/* start header*/
header {
    height: 65px;
    background: #161c35;    
}

.main-wrapper {
    padding: 0 15px;
    margin: 0 auto;
    width: 1170px;   
}

header .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main-menu > ul > li {
    display: inline-block;
    margin-right: 0;    
}

.main-menu > ul > li > a {
    color: white;
    text-decoration: none; 
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}  

.main-menu > ul > li:last-child > a {
    margin-right: 0;
}

.main-menu > ul > li > a::after {
    content: '';
    width: 10%;
    height: 3px;
    background: #00D5C3;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    opacity: 0;
    transition-duration: 0.3s;
}

.main-menu > ul > li > a:hover:after {
    width: 100%;
    opacity: 1;
}

/* end header*/
/* start main-board*/
.main-board .main-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 2;
}

.main-board__left-block {
    width: 50%;
}

.main-board .main-wrapper > img {
    margin: auto;
}

.main-board {
    background: url(src/bg.jpg);
    height: 500px;
    background-position: 50% -50px;
    background-size: cover;
    position: relative;
}

.main-board::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(33, 42, 73, 0.6);
        z-index: 1;
}

.main-board-item {
    color: #FFFFFF;
    padding: 25px 0 0 30px;
    margin-bottom: 35px;
    position: relative;
}
.main-board .main-board-item::before {
    content: "";
    width: 115px;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    background: #00D5C3;
}

.main-board .main-board-item::after {
    background: #00D5C3;
    content: "";
    height: 115px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}

.main-board__left-block > div:first-of-type {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 45px;
}

.main-board__left-block > div:last-of-type {
    display: flex;
}
    
.main-board__button-link:first-of-type {
    margin-right: 20px;
}

.main-board__button-link {
    display: flex;
    align-items: center;
    width: 165px;
    height: 50px;
    border: 1px solid #00D5C3;
    font-size: 18px;
    border-radius: 0 5px 0 5px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    transition-duration: 0.3s;
}

.main-board__button-link > i {
    margin-left: 20px;
    margin-right: 15px;
    font-size: 30px;
    color: #00D5C3;
    width: 26px;
    transition-duration: 0.3s;
}

.main-board__button-link_bold {
    font-size: 14px;
    font-weight: 600;
}

.main-board__button-link:hover {
    background: #00D5C3;
}

.main-board__button-link:hover > i {
    color: #FFFFFF;
}
/* end main-board*/
/* start services*/
.services__block-item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services__item {
    padding: 30px;
    flex: 0 0 32%;
    text-align: center;
    transition-duration: 0.3s;
    border-radius: 5px;
}

.services__item:hover {
    box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
}

.box-icon {
    border: 1px solid #161C35;
    border-radius: 50%;
    height: 108px;
    line-height: 108px;
    text-align: center;
    width: 108px;
    margin: 0 auto;
    transition-duration: 0.3s;
}

.box-icon > i {
    font-size: 54px;
    color: #161C35;
    line-height: 108px;
    transition-duration: 0.3s;
}

.services__item:hover .box-icon {
    background: #161C35;
}

.services__item:hover .box-icon > i {
    color: #FFFFFF;
}

.services__item > h3 {
    margin:23px 0;
    color: #161C35;
    text-align: center;
}

.services__item > p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin-bottom: 20px;
    color: #666666;
}

.services__item > a {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    color: #161C35;
    font-size: 18px;
    border-radius: 0 5px 0 5px;
    border: 1px solid #161C35;
    text-decoration: none;
    transition-duration: 0.3s;
}

.services__item > a:hover {
    background: #161C35;
    color: #FFFFFF;
}
/*end services*/